.profile {
    height: 100vh;
    width: 100vw;
}

.profile__image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(25px);
    overflow: hidden;
    transform: scale(1.1);
}

.profile__summary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem;
    border-radius: 1%;
}

.palette_list {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.palette__list_item {
    color: rgba(255,255,255, 0.3);
    padding: 1rem;
}

.palette__list_item:hover {
    color: rgba(255,255,255, 1);
}
